.m-accordion {
        ul{ 
            margin:0; 
            padding:0;
            list-style:none; 
            
            li { 
                margin: 0 .32rem .24rem;
                background-color: #fff;
                border-radius: .04rem;
                text-indent:3em; 
                white-space:nowrap; 

                ul {
                    position: relative;
                    background-color: #fff;
                    border-top: 1px solid #ddd;
                    background: #444359;
                    display: none;
                }
                .link{ 
                    padding: 0;
                    padding-left: .48rem;
                    height: 1.4rem;
                    line-height: 1.4rem;
                    color: #404040;
                    font-size: .32rem;
                    cursor:pointer; 
                    -webkit-transition: all 0.4s ease;
                    -o-transition: all 0.4s ease;
                    transition: all 0.4s ease;
                }
                a{ 
                    display:block; 
                    outline:none; 
                    height:25px; 
                    line-height:25px; 
                    margin:1px 0; 
                    color:#1A385C; 
                    text-decoration:none;
                    &:hover{ 
                        background-color:#ccc; 
                        background-image:none;
                    }
                }
                img{ 
                    margin-right:10px; 
                    margin-left:-17px; 
                    margin-top:9px; 
                    width:7px; 
                    height:7px; 
                    // background:url(images/arrow.gif) no-repeat; 
                    border:none;

                }
                &.active {
                    ul {
                        display: block;
                        // li:hover {
                        //     background: #b63b4d;
                        //     color: #FFF;
                        // }
                    }
                }

            }
         }


}


// .m-accordion{
//     width:100%;
//     height:88px;
//     -webkit-box-align: center;
//     -webkit-align-items: center;
//     -ms-flex-align: center;
//     align-items: center;
//     border-bottom: 1px solid #f1f1f1;

//     ul {
//         li {
//             margin: 0 .32rem .24rem;
//             background-color: #fff;
//             border-radius: .04rem;
//             div {
//                 padding: 0;
//                 padding-left: .48rem;
//                 height: 1.4rem;
//                 line-height: 1.4rem;
//                 color: #404040;
//                 font-size: .32rem;
//             }
//             ul {
//                 position: relative;
//                 background-color: #fff;
//                 border-top: 1px solid #ddd;
//             }
//         }
//     }
// }