<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%=htmlWebpackPlugin.options.title%>
  </title>
  <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0, user-scalable=no">
  <!--这是一个例子,请酌情删除-->
  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.domain%>/common/react/15.4.1/react.min.js"></script>
  <script type="text/javascript" src="//<%= htmlWebpackPlugin.options.domain%>/common/react/15.4.1/react-dom.min.js"></script>
</head>
<body>
<div id="application"></div>
</body>
</html>
